<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>EssentialServlet1</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Ajax_Servlet</display-name>
  	<servlet-name>Ajax_Servlet</servlet-name>
  	<servlet-class>Ajax_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/EssentialServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ajax_Servlet</servlet-name>
  	<url-pattern>/Ajax_Servlet</url-pattern>
  </servlet-mapping>
</web-app>